   /* || HOST FONT */
@font-face {
   font-family: "Ubuntu";
   font-weight: 500;
   src: url("./assets/fonts/ubuntu-medium-webfont.woff2") format("woff2"),
         url("./assets/fonts/ubuntu-medium-webfont.woff") format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Ubuntu";
   font-weight: 700;
   src: url("./assets/fonts/ubuntu-bold-webfont.woff2") format("woff2"),
         url("./assets/fonts/ubuntu-bold-webfont.woff") format("woff");
   font-display: swap;
}

   /* || RESET */
*,
::before,
::after {
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
   line-height: 1.3;
}

body {
   -webkit-font-smoothing: antialiased;
}

img {
   display: block;
   max-width: 100%;
}

button, p, h1 {
   font: inherit;
}

p, h1 {
   overflow-wrap: break-word;
   font: inherit;
}

p {
   text-wrap: pretty;
}

h1 {
   text-wrap: balance;
}

#root, #__next {
   isolation: isolate;
}

   /* || CUSTOM PROPERTIES */
:root {
   --black: rgb(0, 0, 0);
   --light-black: rgba(0, 0, 0, 0.5);
   --white: rgb(255, 255, 255);
   --grey: rgb(120, 120, 120);
}


   /* || GENERAL STYLES */
body {
   font-family: "Ubuntu", system-ui, serif;
   font-weight: 500;
   font-size: 1.6rem;
}

img {
   width: 4rem;
   height: 4rem;
}

.page--1 .game__interface,
.static-content--up,
.static-content--down,
.dynamic-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.game__title {
   font-weight: 700;
   font-size: 5rem;
   margin: 5rem 0;
}

   /* || PAGE ONE / PLAYER SELECTION */
.game__player-selection {
   display: flex;
   gap: 10rem;
   margin-bottom: 5rem;
}

.player-selection--one p:nth-child(1),
.player-selection--two p:nth-child(1) {
   font-size: 3rem;
   margin-bottom: 3rem;
}

.player-selection--one p:not(:nth-child(1)),
.player-selection--two p:not(:nth-child(1)) {
   justify-self: center;

   color: var(--white);
   text-align: center;
   width: 70%;
   height: 2rem;
   padding: 1rem 0;
   border-radius: 1rem;
}

.player-selection--one p:nth-child(2) {
   margin-top: calc(2.5rem + 3rem);               /* The addition of 3rem keeps it between the other two elements on the right */
}

.player-selection--two p:nth-child(2) {
   margin-bottom: 1rem;
}

.player-selection--one p:not(:nth-child(1)):hover,
.player-selection--two p:not(:nth-child(1)):hover,
.game__start:hover,
.game__restart:hover {
   cursor: pointer;
   transform: scale(1.05);
}

.game__start, .game__restart {
   padding: 1rem 2.5rem;
   border: 2px solid var(--black);
   border-radius: 1rem;
}
.game__start {
   margin-top: 5rem;
}

   /* || PAGE TWO / PLAYING THE GAME */
.page--2 .game__title {
   margin-bottom: 3rem;
}

.dynamic-content {
   height: 27.9rem;           /* This height will keep the restart btn in a fixed position */    
   justify-content: center;
}

.game__scores {
   display: flex;
   gap: 2rem;
   width: 100%;
   justify-content: center;
   margin-bottom: 3rem;
}

.game__scores img {
   width: 2rem;
   height: 2rem;
}

.score--for-X, .score--for-O {
   width: 12%;
   border: 1px solid var(--black);
   border-radius: 1rem;
   padding: 1rem;

   display: flex;
   justify-content: space-between;
}

.game__player-turn {
   margin-bottom: 5rem;
}

.gameover-text {
   margin-bottom: 2rem;
}

.game__gameboard {
   margin-bottom: 5rem;

   display: grid;
   grid-template-columns: repeat(3, 1fr);
}

.gameboard-cell {
   width: 5rem;
   height: 5rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

.gameboard-cell:is(
   :nth-child(1),
   :nth-child(2),
   :nth-child(3),
   :nth-child(4),
   :nth-child(5),
   :nth-child(6)) {
      border-bottom: 4px solid var(--grey);
}

.gameboard-cell:is(
   :nth-child(1),
   :nth-child(4),
   :nth-child(7),
   :nth-child(2),
   :nth-child(5),
   :nth-child(8)) {
      border-right: 4px solid var(--grey);
}

.gameover__marker {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 13rem;
   height: 16rem;
}

.gameover__result {
   font-weight: 700;
   font-size: 3rem;
}

   /* || INTERACTIONS WITH JS */
      /* grey btn color when not selected/clicked */
.standalone, .choose-only-one {
   background-color: var(--light-black);
}
      /* black btn color when selected/clicked */
.selected-player {
   background-color: var(--black);
}

.thick-border {
   border: 3px solid var(--black);
}

.big-marker {
   animation: scaleUp 0.4s linear forwards;
}

@keyframes scaleUp {
   0% {
      transform: scale(1);
      opacity: 0.15;
   }
   25% {
      transform: scale(2);
      opacity: 0.25;
   }
   50% {
      transform: scale(3);
      opacity: 0.5;
   }
   100% {
      transform: scale(4);
      opacity: 1;
   }
}

.blink {
   animation: blink 0.4s linear forwards;
}

@keyframes blink {
   0% {
      opacity: 1;
   }
   25% {
      opacity: 0.25;
   }
   50% {
      opacity: 1;
   }
   75% {
      opacity: 0.25;
   }
   100% {
      opacity: 1;
   }
}

   /* || MEDIA QUERY */
@media screen and (width < 50rem) {
   .game__player-selection {
      gap: 0;
   }

   .player-selection--one p:nth-child(1), 
   .player-selection--two p:nth-child(1) {
      text-align: center;
      margin-bottom: 3rem;
   }

   .player-selection--one p:nth-child(1) {
      margin-right: 2rem;
   }

   .player-selection--one p:nth-child(2) {
      margin-top: calc(2.5rem + 3rem);
   }

   .score--for-X, .score--for-O {
      width: 100%;
   }

   .game__scores {
      width: 80%;
   }
} 
